<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>افزودن دارو</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>افزودن دارو</h1>
<form action="#" th:action="@{/medicine/addMedicine}" th:object="${medicine}" method="post">
    <p>نام دارو: <input type="text" th:field="*{title}" /></p>
    <p>کد: <input type="text" th:field="*{code}" /></p>
    <p>قیمت: <input type="text" th:field="*{price}" /></p>
    <p>توضیحات: <input type="text" th:field="*{description}" /></p>
    <p><input type="submit" value="تایید" />
    <p><input type="submit" value="لغو" th:action="@{main-page.html}"/>
</form>
</body>
</html>