<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>تعریف بیمار</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >
</head>
<body  class="text-center row p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">

<div>
    <h1>تعریف بیمار</h1>


    <form class="m-3" action="#" th:action="@{/patient/definePatient}" th:object="${patient}" method="post">
        <p hidden="hidden"><input type="text" th:field="*{id}"/></p>
        <p><input class="text-center" type="text" th:field="*{name}" placeholder="نام"/></p>
        <p><input class="text-center" type="text" th:field="*{family}" placeholder="نام خانوادگی"/></p>

        <p>
            <select th:field="*{gender}">
                <option value="woman">زن</option>
                <option value="man">مرد</option>
            </select>
        </p>

        <p><input class="btn btn-dark" type="submit" value="ثبت بیمار" th:name="ok"/>
    </form>



        <div class="m-3 border border-light" th:hidden="${patient.getId()==null}">
            <table class="table table-dark" th:hidden="${patient.getPrescriptions()==null || patient.getPrescriptions().size()==0}">
                <thead>
                <th colspan="3">عملیات</th>
                <th>تاریخ مراجعه بیمار</th>
                <th>تاریخ صدور نسخه</th>
                <th>کد نسخه</th>
                </thead>
                <tbody>
                <tr th:each="presc:${patient.getPrescriptions()}">
                    <td><form th:action="@{/prescription/deletePrescription/__${presc.getId()}__}"><input hidden class="btn btn-danger" th:id="${presc.getId()}" type="submit" value="تایید حذف" ></form></td>
                    <td><button class="btn btn-light"  th:onclick="|delConfirm(${presc.getId()})|">حذف</button></td>
                    <td><form th:action="@{/prescription/editPrescription/__${presc.id}__}"><input class="btn btn-light" type="submit" th:value="ویرایش" ></form></td>
                    <td th:text="${presc.registrationDate}"/>

                    <td th:text="${presc.creationDate}"/>
                    <td th:text="${presc.code}"/>

                    <!--            to avoid wrong call   hidden-->
                    <!--            <th:td><form th:action="@{/prescription/deleoootePrescription/${presc.id}}"><input hidden type="submit" th:value="حذف" ></form></th:td>-->


                </tr>
                </tbody>
            </table>


            <form th:action="@{/prescription/definePrescription}" >
                <input type="hidden" name="patientId" th:value="${patient.id}">
                <input class="btn btn-dark m-2" type="submit" value="افزودن نسخه" th:disabled="${patient.id==null}">
            </form>

        </div>






<!--<form >-->
<!--<input class="btn btn-dark m-2" type="submit" value="تایید" formaction="/patient/submitPatientPage" th:disabled="${patient.id==null || patient.getPrescriptions().size()==0}"/>-->
<!--</form>-->

    <form th:action="@{/}"><input class="btn btn-dark" type="submit" value="بازگشت به صفحه اصلی"></form>
</div>



<script>

    function delConfirm(id) {
        document.getElementById(id).hidden = false;
    }
</script>
</body>
</html>