<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>تعریف بیمار</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body  style="text-align: center; font-family: 'B Mitra'">

<div style="direction: rtl; text-align: right; width: 50%" >
<h1>تعریف بیمار</h1>

<form action="#" th:action="@{/patient/definePatient}" th:object="${patient}" method="post">
    <p hidden="hidden"><input type="text" th:field="*{id}"/></p>
    <p>نام: <input type="text" th:field="*{name}"/></p>
    <p>نام خانوادگی: <input type="text" th:field="*{family}" /></p>

    <p>
        <select th:field="*{gender}">
            <option value="woman">زن</option>
            <option value="man">مرد</option>
        </select>
    </p>

    <p><input type="submit" value="ثبت بیمار" th:name="ok"/>
</form>

    <table>
        <thead>
        <th>کد نسخه</th>
        <th>تاریخ صدور نسخه</th>
        <th>تاریخ مراجعه بیمار</th>
        <th colspan="2">عملیات</th>
        </thead>
        <tbody>
        <tr th:each="presc:${patient.getPrescriptions()}">
            <td th:text="${presc.code}"/>
            <td th:text="${presc.creationDate}"/>
            <td th:text="${presc.registrationDate}"/>

<!--            to avoid wrong call   hidden-->
<!--            <th:td><form th:action="@{/prescription/deleoootePrescription/${presc.id}}"><input hidden type="submit" th:value="حذف" ></form></th:td>-->

            <td><form th:action="@{/prescription/deletePrescription/__${presc.getId()}__}"><input type="submit" th:value="حذف" ></form></td>

            <td><form th:action="@{/prescription/editPrescription/__${presc.id}__}"><input type="submit" th:value="ویرایش" ></form></td>
        </tr>
        </tbody>
    </table>


    <form th:action="@{/prescription/definePrescription}" >
        <input type="hidden" name="patientId" th:value="${patient.id}">
        <input type="submit" value="افزودن نسخه" th:disabled="${patient.id==null}">
    </form>

<form >
<input type="submit" value="تایید" formaction="/patient/submitPatientPage" th:disabled="${patient.id==null || patient.getPrescriptions().size()==0}"/>


</form>

    <form th:action="@{/}"><input type="submit" value="بازگشت به صفحه اصلی"></form>
</div>
</body>
</html>