<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>تعریف دارو</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >
</head>
<body class="text-center row p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">
<div>
<h1>تعریف دارو</h1>
<form  action="#" th:action="@{/medicine/defineMedicine}" th:object="${medicine}" method="post">
    <p hidden="hidden"><input type="text" th:field="*{id}"/></p>
    <p ><input class="text-center" type="text" th:field="*{title}" placeholder="نام دارو"/></p>
    <p ><input class="text-center" type="text" th:field="*{code}" placeholder="کد"/></p>
    <p ><input class="text-center" type="text" th:field="*{price}" placeholder="قیمت"/></p>
    <p ><input class="text-center" type="text" th:field="*{description}" placeholder="توضیحات"/></p>
    <p><input class="btn btn-dark" type="submit" value="تایید" th:name="ok"/>
    <input class="btn btn-dark" type="submit" value="لغو" th:name="cancel"/>
</form>


<form th:action="@{/}"><input class="btn btn-dark" type="submit" value="بازگشت به صفحه اصلی"></form>
</div>
</body>
</html>

