<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>لیست بیماران</title>
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >

</head>
<body  class="text-center  p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">

<table class="table table-dark ">
    <thead>
    <tr>
        <th colspan="4">عملیات</th>
        <th>جنسیت</th>
        <th>نام خانوادگی</th>
        <th>نام</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "patientItem : ${patientList}">
        <td><form action="#" th:action="@{/patient/deletePatient/__${patientItem.getId()}__}"><input class="btn btn-danger" hidden th:id="${patientItem.getId()}" type="submit" value="تایید حذف"></form></td>
        <td><button class="btn btn-light"  th:onclick="|delConfirm(${patientItem.getId()})|">حذف</button></td>
        <td><form action="#" th:action="@{/patient/editPatient/__${patientItem.getId()}__}"><input class="btn btn-light" type="submit" value="ویرایش"></form></td>
        <td><form action="#" th:action="@{/patient/viewPatient/__${patientItem.getId()}__}"><input class="btn btn-light" type="submit" value="مشاهده"></form></td>
        <td th:text = "${patientItem.gender}"/>
        <td th:text = "${patientItem.family}"/>
        <td th:text = "${patientItem.name}"/>
    </tr>
    </tbody>
</table>

<form th:action="@{/}"><input class="btn btn-dark" type="submit" value="بازگشت به صفحه اصلی"></form>


<script>

    function delConfirm(id) {
        document.getElementById(id).hidden = false;
    }
</script>


</body>
</html>