<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >
    <title>بیمار</title>
</head>
<body  class="text-center  p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">

<form th:action="@{/patient/definePatient}"><input class="btn btn-dark" type="submit" value="تعریف بیمار"></form><br>
<form th:action="@{/patient/patientList}"><input class="btn btn-dark " type="submit" value="لیست بیماران"></form><br>

<form th:action="@{/}"><input class="btn btn-dark" type="submit" value="بازگشت به صفحه اصلی"></form>

</body>
</html>