<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>مشاهده بیمار</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >
</head>
<body  class="text-center  p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">

<h1>مشاهده بیمار</h1>
<form action="#" th:action="@{/patient/patientList}" th:object="${patient}" method="post">
    <p hidden="hidden"><input type="text" th:field="*{id}"/></p>
    <p> <label th:text="*{name}" ></label> :نام</p>
    <p><label  th:text="*{family}" ></label> :نام خانوادگی</p>
    <p><label  th:text="${patient.gender.equals('man')?'مرد':'زن'}" ></label> :جنسیت</p>

    <table class="table table-dark">
        <thead>
        <th>کد نسخه</th>
        <th>تاریخ صدور نسخه</th>
        <th>تاریخ مراجعه بیمار</th>
        </thead>
        <tbody>
        <tr th:each="presc:${patient.getPrescriptions()}">
            <td th:text="${presc.code}"/>
            <td th:text="${presc.creationDate}"/>
            <td th:text="${presc.registrationDate}"/>
        </tr>
        </tbody>
    </table>

    <p><input class="btn btn-dark" type="submit" value="تایید" th:name="ok"/>
</form>

<form th:action="@{/}"><input class="btn btn-dark" type="submit" value="بازگشت به صفحه اصلی"></form><br>


</body>
</html>